:root{
	--dark-high:var(--chatgpt);
	--dark:#313338;
	--dark-low:#202123;
	--dark-low-op:rgba(32, 33, 35, 0.719);
	--dark-lower:rgb(21, 21, 23);
	--dark-lowest:#000000;
	--dark-lowest-op:rgba(0, 0, 0, 4);
  
	--light-highest:#efede7;
	--light-low:#ddd7ca;
	--light-lowest:#8e8574;
	--light-low-op:#ddd7ca92;
	--light-lower-op:#8e8574c6;
	--light-lowest-op:#8e857478;
  
	--light-pure:#fff;
	--light-pure-low:#f6f8fa;
	--light-pure-lowest:#c8c8cf;
	--light-pure-low-op:#f6f8fa90;
	--light-pure-lowest-op:rgba(200, 200, 207, 0.8);
  
	--blue:#0099ff;
	--dark-blue:#024d7f;
	--blue-op:color-mix(in srgb, var(--blue) var(--transparency, 20%), transparent);
  
	--orange:#ff5500;
	--orange-op:color-mix(in srgb, var(--orange) var(--transparency, 20%), transparent);
	--dark-orange:#ff5500;
  
	--red:#c9453c;
	--dark-red:#9f3831;
	--red-op:color-mix(in srgb, var(--red) var(--transparency, 20%), transparent);
  
	--pink:#c62368;
	--dark-pink:#c62368;
  
	--green:#00CBA9;
	--dark-green:#017f6a;
	--green-op:color-mix(in srgb, var(--green) var(--transparency, 20%), transparent);
  
	--light-purple:#e2c2e6;
	--purple:#4a2570;
	--dark-purple:#65498f;
  
	--night:#54619d;
  
	--yellow:#FFD700;
	--yellow-op:rgba(255, 217, 0, 0.8);
	--brown:#654e44;
	--pink-light:#d7559b;
	--purple-light:#9e59ee;
	--gradient:linear-gradient(#d7559b,#9e59ee);
	--dark-gradient:linear-gradient(#9e59ee, #d7559b);
	--gold:#b29338;
  
	--main:var(--blue);
	--dark-main:var(--dark-blue);
	--main-op:color-mix(in srgb, var(--main) var(--transparency, 70%), transparent);
	--main-op-2:color-mix(in srgb, var(--main) var(--transparency, 20%), transparent);
  
	--cine-light:#F6CEA0;
	--cine-light-light:#f6e1c9;
	--cine-red:#D94A3D;
	--cine-dark:#17282C;
	--cine-dark-low:#111e21;
  
	--editor-dark:#0d1116;
	--editor-grey:#31363c;
	--editor-light-grey:#d1d7dd;
  
	--chatgpt:#343540;
	--chatgpt-green:#75a99c;
	--chatgpt-happy-green:#5bc083;
	--chatgpt-light:#40414e;
	--chatgpt-lighter:#8e8e9e;
	--chatgpt-purple:#a26bf7;
	--chatgpt-gold:#f4e49c;
	--chatgpt-dark-gold:#8e7935;
	--chatgpt-text:#565868;
  
	--selection-orange:rgba(255, 145, 0, 0.5);
  
	--pres-marigold:#c78f31;
	--pres-white:#f4e9e2;
	--pres-dark-green:#273a3b;
  
	--accent-purple-dimmest: #39298A;
	--accent-purple-dimmer: #5239CC;
	--accent-purple-default: #795EFF;
	--accent-purple-stronger: #A694FF;
	--accent-purple-strongest: #CEC4FF;
	--accent-teal-dimmest: #004452;
	--accent-teal-dimmer: #006073;
	--accent-teal-default: #0093B0;
	--accent-teal-stronger: #27B9D6;
	--accent-teal-strongest: #69D9F0;
  }
  

@font-face {
  font-family: 'Copernicus';
  src: url('./deps/fonts/Copernicus.ttf') format('truetype');
}

blockquote{
    border-left: 3px solid;
    opacity:0.5;
    padding-left: 10px;
    margin: 10px 0;
    margin-top:0;
}

a[href^="https://"]::after,
a[href^="mailto"]::after, .link::after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='1em' fill='%23b8bbbb' viewBox='0 0 512 512'><path d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/></svg>");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
  text-decoration: none !important;
}

a[href^="https://"]:hover, a[href^="mailto"]:hover, a[href]:hover{
    text-decoration: underline;
}

img {
  max-width: 100%;
  border-radius:5px;
}

.spoiler {
  color:#1e1f22;
  background-color: currentColor;
  margin: 0 5px;
  padding:0 2px;
  user-select:none;
  border-radius:5px;
  cursor: pointer;
  transition-duration: 0.2s;
  overflow-y: scroll;
}

.spoiler > *{
  opacity: 0;
}

.hidden-checkbox:checked + .spoiler > *{
  opacity: 1;
}

.app.dark .hidden-checkbox:checked + .spoiler {
  background-color: var(--dark-low-op);
  color:white;
}

.hidden-checkbox:checked + .spoiler {
  background-color: var(--light-low-op);
  color:black;
}


.tips, .info, .warn, .check {
  position: relative;
  background-color: rgb(217, 217, 0,0.4);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' height='1.5em' viewBox='0 0 384 512'%3E%3Cpath d='M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z'/%3E%3C/svg%3E");
  background-position: 5px center, center;
  background-repeat: no-repeat, no-repeat;
  border-left: solid 4px orange;
  overflow: hidden;
  padding: 0px 40px;
  font-size: 100%;
  font-family: sans-serif;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin:5px 5px 0 0;
  width:calc(100% - 80px);
}

.info {
  border-left-color: var(--blue);
  background-color: var(--blue-op);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0, 153, 255)' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath d='M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8zm2 16H8v-2h8zm0-4H8v-2h8zm-3-5V3.5L18.5 9z'/%3E%3C/svg%3E");
}

.warn{
  border-left-color: var(--red);
  background-color: var(--red-op);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(201, 69, 60)' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath d='M1 21h22L12 2zm12-3h-2v-2h2zm0-4h-2v-4h2z'/%3E%3C/svg%3E");
}

.check{
  border-left-color:var(--green);
  background-color: var(--green-op);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0, 203, 169)' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8z'/%3E%3C/svg%3E");
}

.arrowBefore{
  position:relative;
}

.arrowBefore:hover{
  .arrow{
    display: block;

    &:has(.active){
      display: block;
    }
  }
}

.arrowBefore .arrow{
  cursor:pointer;
  opacity:.5;
  user-select: none;
  display: none;

  position:absolute;
  left:calc(-1em * .7);
  top:50%;
  transform: translateY(-50%);


  &:hover{
    opacity: .7;
  }

  &:not(:has(.active)){
    color:var(--main);
    display: block;
  }

  .material-icons{
    rotate:-90deg;
    font-size:70%;
    transition-duration:.1s;

    &.active{
      rotate:0deg;
    }
  }

}

h1, h2, h3, h4, h5, h6{
    font-family: Copernicus;
}

h3 {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 10px;
  background-color: var(--beige); 
  z-index: 1; 
}

h3:last-child {
  z-index: 10;
}

div[data-callout='tips'], div[data-callout='info'], div[data-callout='warn'], div[data-callout='check'] {
	.callout-title{
		display: none;
	}
	position: relative;
	background-color: rgb(217, 217, 0,0.4);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' height='1.5em' viewBox='0 0 384 512'%3E%3Cpath d='M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z'/%3E%3C/svg%3E");
	background-position: 5px center, center;
	background-repeat: no-repeat, no-repeat;
	border-left: solid 4px orange;
	overflow: hidden;
	padding: 0px 40px;
	font-size: 100%;
	font-family: sans-serif;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin:5px 5px 0 0;
}

div[data-callout='info'] {
    border-left-color: var(--blue);
    background-color: var(--blue-op);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0, 153, 255)' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath d='M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8zm2 16H8v-2h8zm0-4H8v-2h8zm-3-5V3.5L18.5 9z'/%3E%3C/svg%3E");
}

div[data-callout='warn']{
    border-left-color: var(--red);
    background-color: var(--red-op);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(201, 69, 60)' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath d='M1 21h22L12 2zm12-3h-2v-2h2zm0-4h-2v-4h2z'/%3E%3C/svg%3E");
}

div[data-callout='check'] {
    border-left-color:var(--green);
    background-color: var(--green-op);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0, 203, 169)' height='1.5em' viewBox='0 0 24 24'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8z'/%3E%3C/svg%3E");
}

